.logo {
    height: 32px;
    margin: 16px;
    // background: rgba(255, 255, 255, 0.3);
}

.ant-layout-sider-children {
    padding-top: 20px;
    -webkit-app-region: drag;

    ul {
        -webkit-app-region: no-drag;

        li {
            -webkit-app-region: no-drag;
        }
    }
}

.site-layout .site-layout-background {
    -webkit-app-region: drag;
    background: #cccccc40;
}