.rightBtn {
    display: flex;
    width: 80px;
    justify-content: space-between;
}

.rightBtn>span {
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.userAvatar {
    // height: 100px;
    width: 40px;
    margin: 65px 10px 10px;
}

.ul {
    -webkit-app-region: drag;

    li {
        height: 48px;
        text-align: center;
        // color: #58be6a;
    }

}


.menuTop {
    flex-grow: 1;
    margin-top: 13px;
}

.menuBotton {
    height: 200px;
}